[submodule "manager"]
	path = manager
	url = git@github.com:BritishColumbiaDigitalLibrary//supplejack_manager.git
[submodule "worker"]
	path = worker
	url = git@github.com:BritishColumbiaDigitalLibrary//supplejack_worker.git
